.container {
  display: flex;
  flexWrap: wrap; }

.textField {
  marginLeft: 10%;
  marginRight: 10%;
  width: 200px; }

.form-container {
  width: 40%; }

.save-icon-small {
  font-size: 20; }

.save-left-icon {
  margin-right: 4px; }
